<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Registrati</title>
    <%- include('../partials/navbar'); %>
</head>
<body class="text-center">
    <main class="form-signin">
        <% if(messaggio.length != 0) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= messaggio %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <form method="POST" action="/registrati">
    
            <h1 class="h3 mb-3 fw-normal">Registrati</h1>
            
            <div class="form-floating">
                <input name="nome" type="text" class="form-control" id="floatingInputnome" placeholder="Nome" required>
                <label for="floatingInput">Nome</label>
            </div>

            <div class="form-floating">
                <input name="cognome" type="text" class="form-control" id="floatingInputcognome" placeholder="Cognome" required>
                <label for="floatingInput">Cognome</label>
            </div>

            <div class="form-floating">
                <input name="email" type="email" class="form-control" id="floatingInputInputemail" placeholder="name@example.com" required>
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingInputPassword" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Registrati</button>
        </form>
    </main>
</body>
</html>