<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBooks</title>
    <%- include('./partials/navbar'); %>
</head>
<body>
    <div id="home" align="center">
        <div class="container-fluid" style="padding-top: 12px;">
             <% if(messaggio.length != 0) { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 600px;">
                    <%= messaggio %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>
        </div>
       
        <h1>Benvenuti su MyBooks</h1>
    </div>
</body>
</html>